.v-toolbar {
  background-color: #455A64 !important;
}

a.nuxt-link {
  /* default fallback */
  background: rgb(0, 0, 0) transparent !important;
  /* nice browsers */
  background: rgba(0, 0, 0, 0.6) !important;
  /* IE 6/7 */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#333333, endColorstr=#333333) !important;
  /* IE8 */    
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#333333, endColorstr=#333333)" !important;
}

a.nuxt-link:hover {
  -webkit-box-shadow: 0 0 1px 1px #76FF03;
  -moz-box-shadow: 0 0 1px 1px #76FF03;
  box-shadow: 0 0 1px 1px #76FF03;
}

.v-navigation-drawer {
  background-color: #37474F !important;
}

.circle {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.radius-12 {
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  border-radius: 12px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-12 {
  padding: 12px !important;
}

.map-container {
  padding: 12px;
  border: dashed 1px #c9c9c9;
  width: 100%;
}

.alpha-60 {
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background: rgba(0, 0, 0, 0.6);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.no-padding {
  padding: 0 !important;
}
